@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
.nodes-canvas {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cache-canvas {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #151617 !important;
}

.slogan::after {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  content: attr(data-spotlight);
  -webkit-clip-path: ellipse(50px 50px at 0% 50%);
  clip-path: ellipse(50px 50px at 0% 50%);
  background: url(/images/spotlight.jpg) center no-repeat;
  background-size: 150%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: spotlight 5s infinite;
}

@keyframes spotlight {
  0% {
    -webkit-clip-path: ellipse(50px 50px at 0% 50%);
    clip-path: ellipse(50px 50px at 0% 50%);
  }
  50% {
    -webkit-clip-path: ellipse(50px 50px at 100% 50%);
    clip-path: ellipse(50px 50px at 100% 50%);
  }
  100% {
    -webkit-clip-path: ellipse(50px 50px at 0% 50%);
    clip-path: ellipse(50px 50px at 0% 50%);
  }
}

.textOVerFlow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mdx-detail {
  .rehype-code-title {
    margin-top: 20px;
    margin-bottom: -12px;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #24292e;
    padding: 4px 16px 8px;
    font-family: monospace;
    font-size: 0.875rem;
    color: #808080;
  }
  p {
    margin-top: 20px;
  }

  .mdx-detail__pre {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  > * {
    width: 100%;
  }
}

.mdx-detail p:first-of-type {
  &:first-letter {
    font-size: 2em;
    float: left;
    padding-right: 5px;
    text-transform: uppercase;
    color: #7db0e3;
  }
}
