  .header {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .25);
  }

  .title {
    width: 220px;
    font-size: 14px;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    cursor: pointer;
  }


  .container {
    width: calc(100% - 440px);
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    justify-content: flex-start !important;
  }

  .search {
    border-radius: 20px;
    width: 300px !important;

  }

  .search .ant-select-selector {
    border-radius: 15px !important;
  }

  .tools {
    width: 220px;
    height: 100%;
  }

  .tools_item {
    height: 100%;
    flex: auto !important;
  }

  .tools_item:hover {
    cursor: pointer;
    background-color: rgba(30, 144, 255, .2);
  }