.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex > div {
  flex: none;
}
.layout {
  margin: 0 auto;
  width: 1170px;
  min-height: 100vh;
  position: relative;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, .05);
}

.header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50px;
  z-index: 99;

}

.header_container {
  width: 1170px;
  height: 50px;
  position: fixed;
  background-color: #1D1F20;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 50px);
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 9;
  box-sizing: border-box;
}

.aside {
  position: fixed;
  width: 220px;
  height: 100%;
  overflow-x: hidden;
  color: #a6a8b1;
  background-color: #1D1F20;
  flex: none;
}

.content {
  flex: auto;
  position: relative;
  margin-left: 220px;
  z-index: 10;
  width: 950px;
  min-height: 100%;
  box-sizing: border-box;
  align-items: stretch;
  overflow: hidden;
}

.main {
  box-sizing: border-box;
  width: calc(100% - 220px);
  min-height: 100%;
}

.slidebar {
  width: 240px;
  flex: auto !important;
  align-items: flex-start;
  z-index: 999;
  color: #a0a0a0 !important;
  background-color: #1D1F20;
}